:root {
  /* Base theme knobs */
  
  /* Light */
  --bg-h: 0;
  --bg-s: 0;
  --bg-l: 88%;

  /* Dark */
  /*
  --bg-h: 0;
  --bg-s: 0;
  --bg-l: 12%;
  */

  /* Layout */
  --pre-border-radius: 0rem;
}

/* Image styles */
img {
  border: 0px;
  padding: 0 0;
}
